@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');

* {
    font-family: "Manrope", sans-serif;
}
p {
    padding: 0;
}
dl, ol, ul {
    margin-top: 0;
    margin-bottom: 0 !important;
}
img {
    max-width: 100%;
}
.header,
.main {
    overflow: hidden;
}
button {
    cursor: pointer;
    border: none;
    outline: none;
}
.evaluate-block-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}
.evaluate-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 30px;
    text-align: center;
}
.evaluate-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 80%;
}
.evaluate-text {
    max-width: 60%;
}
.evaluate-btn{
    border-radius: 30px;
    width: 426px;
    height: 63px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, #c273ac 0%, #91588f 100%);
    border: none;
    font-weight: 600;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    overflow: hidden;
    position: relative; 
}
.evaluate-btn::before {
    content: '';
    position: absolute;
    left: 12px;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    background: url('./img/f2523ffb09119717de521a460f917b0b.png') no-repeat;
    background-size: cover;
    animation-name: animBtn;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes animBtn {
    from {
        left: -50%;
    }

    to {
        left: 100%;
    }
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 150;
}

.modal-block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 400px;
    background-color: #fff;
    padding: 50px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.question {
    display: none;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 22px;
}
.test-answer {
    display: flex;
    flex-direction: column;
}
.answer-btn {
    padding: 0px 30px;
}
.answer-btn {
    margin-top: 20px;
    background: linear-gradient(90deg, #c273ac 0%, #91588f 100%);
    color: white;
    height: 30px;
    border-radius: 30px;
}
.evaluate-answer {
    padding-bottom: 10px;
}
@media (max-width: 1200px) {
    .evaluate-text {
        max-width: 50%;
    }
}
@media (max-width: 1050px) {
    .evaluate-block {
        flex-direction: column;
    }
    .evaluate-text {
        max-width: 100%;
    }
    .evaluate-img {
        margin: 20px 0px;
    }
}
@media (max-width: 480px) {
    .evaluate-block-cont {
        padding: 0px 20px;
    }
    .evaluate-text {
        font-size: 14px;
    }
    .evaluate-block,
    .evaluate-btn {
        width: 100%;
        max-width: 100%;
    }
}
.input-test {
    border-radius: 30px;
    border:1px solid #91588f;
    outline: none;
    margin-right: 5px;
    padding: 5px 10px;
}
.result-all {
    margin-bottom: 0;
    margin-top: 10px;
}
.hhhhh {
    width: 64%;
    text-align: center;
    margin-top: 50px;
}
.gggggggg {
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 600;
    display: flex;
    justify-content: center;
}
.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}



.question13,
.question11,
.question12 {
    margin-bottom: 10px;
}
@media (max-width: 1000px) {
.hhhhh {
    width: 81%;
}
}
@media (max-width: 480px) {
    .modal-block {
        padding: 40px 30px;
    }
    .hhhhh {
        width: 100%;
    }
    .input-test {
        width: 80%;
    }
}

.footer {
    background: linear-gradient(89deg, #c374ac 0%, #603c72 100%);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
